* {
font-family:Tahoma, Geneva, sans-serif;
}

.board
{
margin-left:auto;
margin-right:auto;
height:300px;
width:300px;
background-color:#999999;

border-style: hidden;
}

.cell
{
    border: 3px solid black;
	width:100px;
	height:100px;
}

h1 {text-align:center}
h2 {text-align:center} 